<span>Nombre:  </span><span><%= nombre %></span><br>
<span>Apellidos:  </span> <span><%= apellidos %></span><br>
<span>Año de nacimiento:  </span><span><%= nacimiento %></span><br>
<span>Sexo:  </span> <span><%= sexo %></span><br>
<span>Nacionalidad:  </span> <span><%= nacionalidad %></span><br>