<h3>Nombre</h3> <span><%= nombre %></span><br>
<h3>Apellidos</h3> <span><%= apellidos %></span><br>
<h3>Año de nacimiento</h3> <span><%= nacimiento %></span><br>
<h3>Sexo</h3> <span><%= sexo %></span><br>
<h3>Nacionalidad</h3> <span><%= nacionalidad %></span><br>